#appName{font-size:1.65rem;}

.add-btn {
    background-color:#d2d2d2;
    padding: 7px 12px;
    margin: 20px 0 20px 20px;
    display: inline-block;
}

.fixed-top:{
	height:300px !important;
}

#HomeAddArticleContainer{border: 2px solid #000;}

@media only screen and (min-device-width : 320px) and (max-device-width : 374px){
	#appName{font-size:1rem;}
	nav{padding:20px;}
    .navbar-brand {
    	font-size: 1rem;
    	width:80%;
    	margin-right:0px;
    	display:inline;
    }

    .add-btn[_ngcontent-c2] {
	    background-color: #d2d2d2;
	    margin: 10px 0px 1px 20px;
	    display: inline-block;
	    font-size: 10pt;
	    width:38%;
	}

	button{
		border: 1px solid #fff;
		margin-top:-30px;
	}   
}

@media only screen and (device-width: 768px) {
	.add-btn[_ngcontent-c2] {
	    background-color: #d2d2d2;
	    padding: 7px 12px;
	    margin: 20px 7px 20px 0px;
	    display: inline-block;
	    font-size: 10pt;
	}
}
@media only screen and (min-width: 1200px){
	.row {
		margin-right:0px !important;
		margin-left:0px !important;
	}
}

