<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse mb-4" style="background-color:#5c2509;border: 3px solid red;padding-left:0px;">

<a class="navbar-brand" href="#">Chris Mazzochi Web Designs</a>

    <button style="border: 1px solid #fff;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"> 
                    <a routerLink="/" class="add-btn">Home</a>
            </li>
            <li class="nav-item"> 
                <a routerLink="/create" class="add-btn">Add Article</a>
            </li>
            <li class="nav-item" class="add-btn"> 
                <a href="http://phpwebapp-env.us-east-2.elasticbeanstalk.com/index.php">PHP App</a>
            </li>
            <li class="nav-item" class="add-btn"> 
                <a href="https://mazzo-java-app.scalingo.io/">Java App</a>
            </li>
            <li class="nav-item" class="add-btn"> 
                <a href="https://corridormdtest.azurewebsites.net/">.NET App</a>
            </li>
        </ul>
    </div>
</nav>

