<div *ngIf="article">

    <div class="article-container col-md-6 col-lg-6">
            <div class="clearfix">
                    <a routerLink="/edit/{{ article._id}}" class="btns edit">Edit Article</a>
                    <a (click)="deleteArticle(article._id)" class="btns delete">Delete Article</a>
            </div>
            <div class="row expanded">
                <div class="">
                    <a id="articleTitle" routerLink="#">{{ article.title }}</a>
                    <p>{{ article.content }}</p>
                </div>
            </div>

    </div>

</div>