<div *ngIf="article">

    <div class="article-container">
            <div class="small-12 medium-3 columns clearfix">
                    <a routerLink="/edit/{{ article._id}}" class="btns edit">Edit Article</a>
                    <a (click)="deleteArticle(article._id)" class="btns delete">Delete Article</a>
            </div>
            <div class="row expanded">
                <div class="small-12 medium-6 columns">
                    <a id="articleTitle" routerLink="#">{{ article.title }}</a>
                    <p>{{ article.content }}</p>
                </div>
            </div>

    </div>

</div>