.article-container{
	width:50%;
	margin:0 auto;
	background:#fff;
	padding:20px;
}
#articleTitle{
    display:block;
}

#descriptionLabel {
	display:block;
}
textarea{
    margin-left:18.8%;
    width:100%;
    min-height:200px;
}
#createArt{
	border: 1px solid #000;
	width:100%;
}