body {
    background-image: url('assets/images/colorExplosion.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    padding: 4em 0;
    font-family: 'Raleway';
}

aside{
    border: 2px solid red;
    float:left;
}
#location ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
  }
 #location ::-moz-placeholder { /* Firefox 19+ */
    color: red;
  }
 #location :-ms-input-placeholder { /* IE 10+ */
    color: red;
  }
 #location :-moz-placeholder { /* Firefox 18- */
    color: red;
  }

#blogcontent{
    border: 3px solid blue;
}
.paintingsearch{
    width:500px;
    margin: 40px auto; 
}

.row.expanded{
    width:100%;
    margin-right:0px;
    margin-left:0px;
}


.forecast {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 250px;
    float:right;
    margin-right: 10%;
    margin-top:50px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.forecast p {
    text-align: center;
    margin: 0.4em;
}

.forecast img {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    vertical-align: bottom;
}

.forecast .prefs{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.forecast .prefs h3 {
    background-color: black;
    padding: 0.2em;
    text-align: center;
    color: #fff;
}

.forecast .prefs {
    border: 1px solid white;
    text-align: center;
}

.forecast .prefs .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.forecast .prefs form div {
    display: inline-block;
}

.forecast .prefs .conditions .city {
    font-weight: bold;
}



/*******RSS FEED***************************************************************/
#latest_news {
  height:350px;
  overflow:scroll;
  border: 3px solid red;
}

#latest_news a:hover {color: #36C;}
#latest_news a {color: black;}

.subhead{
  font-size:1em;
  font-family: Le-Havre;
}

.subhead div {border: 1px solid white;}

.feedDiv{
  height:auto !important;
  margin-bottom:10px;
  font-family: Raleway;
  font-size: 10pt;
}

#latest_news h3 {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 1.16em;
  cursor: pointer;
}

/*Video****************************************************************/

#my_video{
  padding-bottom: 0px;
  border: 3px solid yellow;
  height:350px;
}

#painting{
  background: url(assets/images/IncompleteFaces.jpg);
  background-position: center center;
  background-size: cover;
  height:350px;
  border: 3px solid blue;
  margin-left:1.5%;
}

 
/* Clearfix: http://csscreator.com/attributes/containedfloat.php        */
/* ******************************************************************** */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */ 

@media only screen and (min-device-width : 320px) and (max-device-width : 374px){
    .paintinginfo{width:100% !important;}

    .article-container[_ngcontent-c5] a[_ngcontent-c5] {font-size: 1em;}

    .forecast{
        width:98%;
        margin: 20px auto;
        float:none;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    input#location {
        margin-bottom:5px;
        text-align:center;
    }

    input.forecast-button{margin-bottom:5px;} 
}

@media only screen and (device-width: 768px) {
    body{
        background: url('assets/images/colorExplosion.jpg') center cover; 
        background-repeat:none;
    }
    .forecast{
        margin-right:36%;
        margin-bottom:20px;
        margin-top:60px;
    }
    .paintinginfo{width:75% !important;}
    .article-container{
        width:75% !important;
        margin: 20px auto;
        background-color:#fff;
        padding:20px;
    }

    #articleTitle{display:block;}

    textarea{
        width:100%;
        min-height:200px;
    }

    .cta-btn{margin-left:20%;}

    input#location {
        margin-bottom:5px;
        text-align:center;
    }
}